body {
  margin: 0px;
}

span {
  display: block;
}

.topheading {
    text-align: center;
}

.main-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contaner {
  display: grid;
  grid-template-columns: repeat(2, 100px); /* 2 columns */
  gap: 10px; /* boxes ke beech gap */
  margin-bottom: 100px;
}

.button {
  height: 100px;
  width: 100px;
  border: 3px solid black;
  display: inline-block;
}

#grey {
  background: gray;
}

#red {
  background: red;
}

#blue {
  background: blue;
}

#yellow {
  background: yellow;
}

/*
               PROJECT-2 KA JAVASCRIPT

const form = document.querySelector('form')

form.addEventListener('submit', (e) => {
  const height = parseInt(document.querySelector('#height').value);

  const weight  = parseInt(document.querySelector('#weight').value);

  const results = document.querySelector('#results');

  if(height === '' || height < 0 || isNaN(height)){
    results.innerHTML = `Please give a valid height ${height}`;

  } else if (weight === '' || weight < 0 || isNaN(weight)) {
    results.innerHTML = `please give a valid weight ${weight}`;
    
  } else {
    const bmi = (weight / ((height * height) / 10000)).toFixed(2);
    results.innerHTML = `<span> ${bmi}</span>`;
  }
})
  */